[Unit]
Description= docker-compose
Requires=docker.service

[Service]
Type=simple

Environment=COMPOSE_FILE=/home/ubuntu/HCCC_Infra/docker-compose.yaml

ExecStartPre=-/usr/bin/docker-compose -f ${COMPOSE_FILE} down --volumes
ExecStart=/usr/bin/docker-compose -f ${COMPOSE_FILE} up
ExecStop=/usr/bin/docker-compose -f ${COMPOSE_FILE} down --volumes 

[Install]
WantedBy=multi-user.target
