[Unit]
Description = Judge server

[Service]
Environment="DATABASE_URL=postgres://non_manaka@localhost:5433/hccc_judge"
ExecStart = /home/ubuntu/HCCC_Infra/target/release/judge_server
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target

